// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Partials
@import "partials/header";
@import "partials/homepage";
@import 'partials/restaurantMenu';
@import "partials/checkout";
@import "partials/register";
@import "partials/dishList";
@import 'partials/addEditDish';
@import "partials/orderstats";
@import "partials/footer";

// General rules
html {
    scroll-behavior: smooth;
}

// style scrollbar
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #00ccbc;
}

// handler error payment
.alert-payment-success,
.alert-payment-danger {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 50%;
    width: 20%;
    min-height: 90px;
    margin: 30px auto;
    font-size: 17px;
    top: 48%;
    z-index: 20;
    box-shadow: 0px 4px 20px 2px #007e8a;
    left: 40%;
    position: absolute;

    span {
        display: block;
        text-align: center;
        margin: 10px 0;
        font-size: 16px;
        color: #686868;
    }
}

.alert-payment-danger {
    box-shadow: 0px 2px 20px 0px #ef5858;
}

// Homepage
div.container-home {
    text-align: center;
    font-size: 25px;
    padding: 100px 0;
}

// Slider image FADE
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 5s;
    animation-name: fade;
    animation-duration: 5s;
}

@-webkit-keyframes fade {
    0% {
        opacity: .6
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: .6
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 1;
    }
}

// edit page

#edit-title {
    margin-left: 10%;
    margin-top: 50px;
}

.edit-form {
    width: 80%;
    margin-left: 10%;

    label {
        margin: 20px 0;
        margin-right: 10px;
    }
}

.update-btn {
    margin: 50px 0;
}

// css per pagina utente loggato e dettagli ristorante(account)
.restaurant-info-log {
    display: flex;
    justify-content: space-evenly;

    .image-restaurant {
        width: 50%;

        .restaurant-image {
            width: 90%;
        }
    }

    .info {
        width: 50%;
        p {
            font-size: 25px;

            &:hover {
                color: #00ccbc;
                cursor: pointer;
                background-color: #05b7a8;
            }
        }
    }
}

#dishes-button {
    text-align: center;
    margin-bottom: 20px;

    .dishes-list-button {
        border: none;
        font-size: 25px;
        border-radius: 10px;
        background-color: #00ccbc;
        color: white;
        font-weight: bold;
        padding: 10px 15px;
    }
}

// registrazione
.container-register {
    width: 100%;
    background-color: #fff;
}

.auth-page {
    width: 70%;
    margin: 0px 15%;
    display: flex;
    // background-color: #fff;
    justify-content: space-between;
    padding-top: 100px;

    .checkbox-container {
        width: 30%;
    }
}

.register-button {
    color: #fff;
    background: #00ccbc;
    padding: 14px 24px;
    border-radius: 4%;

    &:hover {
        color: #fff;
        background-color: #05b7a8;
    }
}

.register-form {
    width: 320px;

    .input-text {
        border: 1px solid #bac3c3;
        background-color: #fff;
        font-size: 16px;
        padding: 9px 10px;
        border-radius: 3px;
        max-height: 40px;
    }
}

@media screen and (max-width: 990px) {
    .auth-page {
        justify-content: center;
    }
    .register-btn {
        margin-top: 10px;
    }
}