// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// General rules
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// body {
//     width: 100%;
//     // debug
//     height: calc(100vh - 200px);
//     background-color: blue;
// }

// Homepage
div.container-home {
    text-align: center;
    font-size: 25px;
    padding: 100px 0;
}

// Header
header {
    width: auto;
    display: flex;
    // debug |-------------------------------------------------------------------------------|
    height: 100px;
    background-color: lightcoral;

    nav {
        width: 100%;
        display: flex;
        align-items: center;
        
        div.container-logo {
            width: auto;

            img {
                height: 100px;
            }
        }

        ul {
            display: flex;
            justify-content: right;
            width: 90%;

            li {
                list-style: none;
                margin: 0 10px;

                a {

                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}

// Footer
footer {
    width: auto;
    // debug
    display: flex;
    align-items: center;
    height: 100px;
    background-color: lightseagreen;
    text-align: center;
}

// Page -> DishList
div.container-dish {
    width: 69%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 50px 0;

    .card {
        margin: 20px;

        div.card-body {
            
            h4 {
                font-weight: 600;
            }

            p {
                font-size: 15px;
            }
        }

        li {
            font-size: 15px;

            span {
                font-weight: 600;
                font-size: 16px;
                margin-right: 3px;
            }

            &.container-action-dish {
                display: flex;
                justify-content: space-evenly;
            }
        }
    }
}