// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// General rules
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

// body {
//     width: 100%;
//     // debug
//     height: calc(100vh - 200px);
//     background-color: blue;
// }

// Homepage
div.container-home {
    text-align: center;
    font-size: 25px;
    padding: 100px 0;
}

// HEADER --------------------------------------------------
header {
    width: auto;
    height: 80px;

    .nav-section {
        width: 70%;
        margin: 0px 15%;
        display: flex;
        justify-content: space-between;
        padding-top: 27px;
        font-size: 17px;

        a {
            margin-left: 30px;
            color: #000;
            text-decoration: none;

            &:hover {
                color: #00ccbc;
            }
        }

        .register-btn {
            color: #fff;
            background: #00ccbc;
            padding: 14px 24px;
            border-radius: 4%;

            &:hover {
                color: #fff;
            }
        }

        .exit-btn {
            color: #fff;

            &:hover {
                color: black;
                background-color: #fff;
                border: solid 1px black;
            }
        }
    }
}

// edit page

#edit-title {
    margin-left: 10%;
    margin-top: 50px;
}

.edit-form {
    width: 80%;
    margin-left: 10%;

    label {
        margin: 20px 0;
        margin-right: 10px;
    }
}

.update-btn {
    margin: 50px 0;
}

// FOOTER ------------------------------------------------
footer {
    width: auto;
    background-color: #f8f8f8;
    padding-bottom: 125px;

    .nav-footer {
        width: 70%;
        margin: 0px 15%;
        display: flex;
        justify-content: space-around;
        padding-top: 70px;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            a {
                color: #828585;

                &:hover {
                    color: #00ccbc;
                    text-decoration: none;
                }
            }

            .register-btn {
                color: #fff;
                background: #00ccbc;
                padding: 14px 24px;
                border-radius: 4%;
                margin-top: 20px;

                &:hover {
                    color: #fff;
                }
            }

            .subscribe {
                margin-top: 20px;
            }
        }
    }
}

// Page -> DishList
div.container-dish {
    width: 69%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 50px 0;

    div.container-new-dish {
        text-align: center;
        font-size: 20px;

        a {
            color: #6a6a6a;
            font-weight: 600;

            &:hover {
                text-decoration: none;
                color: #000;
            }
        }
    }

    .card {
        margin: 20px;

        div.card-body {
            h4 {
                font-weight: 600;
            }

            p {
                font-size: 15px;
            }
        }

        li {
            font-size: 15px;

            span {
                font-weight: 600;
                font-size: 16px;
                margin-right: 3px;
            }

            &.container-action-dish {
                display: flex;
                justify-content: space-evenly;
            }
        }
    }
}
