/* homepage */

.favourite-plates{
    margin-top: 30px;
    background-color: #FFEAE4;

    .title-home-section {
        text-align: center;
        padding-top: 20px;

        h2 {
            font-weight: bold;
        }
    }

    .container-restaurants-homepage {
        margin-top: 40px;

        .plates-add-container {
            h2 {
                margin: 20px 0;

                &:hover {
                    color: #00ccbc;
                    cursor: pointer;
                }
            }

            .img-home-restaurants {
                max-width: 100%;
                border-radius: 10px;
            }
        }
    }
}

.download-app-deliveroo {
    background-color: #434848;
    color: white;
}

.deliveroo-image {
    width: 70%;
    border-radius: 20px;
}

.app-download {
    margin: 30px auto;

    .android, .apple {
        width: 50%;
        background-color: white;
        border: none;
        border-radius: 15px;
        font-size: 15px;
        font-weight: bold;
        padding: 10px 5px;
        margin-bottom: 15px;

        img {
            max-width: 10%;
        }
    }
}

.work-with-us {
    background-color: white;

    h2 {
        font-size: 40px;
        font-weight: bold;
    }
    .work {
        padding-bottom: 20px;
    
        img {
            width: 100%;
        }

        p {
            font-size: 13px;
            text-align: justify;
        }

        .work-button {
            border: none;
            background-color: #00ccbc;
            color: white;
            font-size: 20px;
            font-weight: bold;
            border-radius: 10px;
            padding: 5px 10px;
        }
    }
}

/* media query per responsive smartphone */

@media screen and (max-width: 576px) {

    .favourite-plates{
        margin-top: 30px;
    
        .container-restaurants-homepage {
    
            .plates-add-container {
    
                .img-home-restaurants {
                    width: 70%;
                    border-radius: 10px;
                }
            }
        }
    }
    
    .deliveroo-image {
        width: 60%;
    }
    
    .app-download {
    
        .android, .apple {
            width: 40%;
            font-size: 13px;
    
            img {
                max-width: 15%;
            }
        }
    }
    
    .work-with-us {
    
        h2 {
            font-size: 30px;
        }
        .work {
        
            img {
                width: 80%;
            }
    
            p {
                font-size: 18px;
                text-align: center;
            }
    
            .work-button {
                font-size: 25px;
            }
        }
    }

}