/* homepage */
.jumbotron-deliveboo {
    position: relative;
    background: #d0eb99;
    min-height: 300px;
    max-height: 400px;
    overflow: hidden;

    & > div {
        position: relative;
        z-index: 15;
    }

    img {
        width: 80%;
    }

    span.title-jumbo {
        font-family: stratos, sans-serif;
        font-size: 40px;
        font-weight: bolder;
        color: #440063;
        margin: 140px 0 0;
    }

    .ms-form-jumbo {
        background-color: #fff;
        border-radius: 4px;
        position: relative;
        z-index: 102;
        -webkit-box-shadow: 0 1px 4px rgb(0 0 0 / 8%);
        box-shadow: 0 1px 4px rgb(0 0 0 / 8%);
        padding: 32px;
        margin-top: 25px;
    }

    div.container-hashtag {
        position: absolute;
        bottom: 100px;
        left: 10%;
        width: 100%;
        max-width: 430px;
        padding: 0 32px;
        margin-left: -32px;

        & > div {
            width: 460px;
            background-color: #007e8a;
            -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
            -webkit-transform-origin: left;
            transform-origin: left;
            padding: 32px;
            position: relative;
            bottom: 20px;

            span {
                font-family: stratos, sans-serif;
                display: block;
                -webkit-transform: rotate(-3deg);
                transform: rotate(-3deg);
                font-size: 28px;
                color: #fff;
                font-weight: 700;
            }
        }
    }
}

.jumbotron-deliveboo::before {
    content: "";
    width: 100%;
    height: 260px;
    position: absolute;
    right: 0;
    background-color: #00ccbc;
    -webkit-transform: skewY(-4deg);
    transform: skewY(-4deg);
    -webkit-transform-origin: left;
    transform-origin: left;
    z-index: 2;
}

.favourite-plates {
    padding-top: 30px;
    background-color: #ffeae4;

    .title-home-section {
        text-align: center;
        padding-top: 20px;

        h2 {
            font-weight: bold;
        }
    }

    .container-restaurants-homepage {
        margin-top: 40px;

        .plates-add-container {
            h2 {
                margin: 20px 0;

                &:hover {
                    color: #00ccbc;
                    cursor: pointer;
                }
            }

            .img-home-restaurants {
                max-width: 100%;
                border-radius: 10px;
            }
        }
    }
}

.download-app-deliveroo {
    background-color: #434848;
    color: white;
}

.deliveroo-image {
    width: 70%;
    border-radius: 20px;
}

.app-download {
    margin: 30px auto;

    .android,
    .apple {
        width: 50%;
        background-color: white;
        border: none;
        border-radius: 15px;
        font-size: 15px;
        font-weight: bold;
        padding: 10px 5px;
        margin-bottom: 15px;

        img {
            max-width: 10%;
        }
    }
}

.work-with-us {
    background-color: white;

    h2 {
        font-size: 40px;
        font-weight: bold;
    }
    .work {
        padding-bottom: 20px;

        img {
            width: 100%;
        }

        p {
            font-size: 13px;
            text-align: justify;
        }

        .work-button {
            border: none;
            background-color: #00ccbc;
            color: white;
            font-size: 20px;
            font-weight: bold;
            border-radius: 10px;
            padding: 5px 10px;
        }
    }
}

/* media query per responsive smartphone */

@media screen and (max-width: 576px) {
    .favourite-plates {
        padding-top: 30px;

        .container-restaurants-homepage {
            .plates-add-container {
                .img-home-restaurants {
                    width: 70%;
                    border-radius: 10px;
                }
            }
        }
    }

    .deliveroo-image {
        width: 60%;
    }

    .app-download {
        .android,
        .apple {
            width: 40%;
            font-size: 13px;

            img {
                max-width: 15%;
            }
        }
    }

    .work-with-us {
        h2 {
            font-size: 30px;
        }
        .work {
            img {
                width: 80%;
            }

            p {
                font-size: 18px;
                text-align: center;
            }

            .work-button {
                font-size: 25px;
            }
        }
    }
}
